# Wczytaj sciezki z tego pliku do moj_skrypt.sh umieszczajac w jego kodzie linijke " . $(git rev-parse --show-toplevel)/definitions.config  "
# drawback zeby uruchomic moj_skrypt.sh twoj current working directory musi byc wewnatrz projektu "imputation_methods_comparison"

ROOT_DIR=$(git rev-parse --show-toplevel)
FUSION=$ROOT_DIR/methods/FUSION
METAXCAN=$ROOT_DIR/methods/METAXCAN
TIGAR=$ROOT_DIR/methods/TIGAR
COMMON_INPUT=$ROOT_DIR/methods/COMMON_INPUT